@model DemoCoreApp.Models.Owner

<h1>Owner Info </h1>
<div>
    @($"{Model.FirstName} {Model.LastName}")
</div>
<div>
    @Model.Email
</div>
<div>
    @Model.ApartmentNumber
</div>
<div>
    @Model.PhoneNumber
</div>
<div>
    @Model.UnitNumber
</div>